coverage/
node_modules/
dist/tests/
tests/
.DS_Store
tsconfig.json
yarn.lock
.npmignore
.gitignore
.github/
.vscode/
src/
*.log
.env
.env.*
README.md
docs/
guide/
.nvmrc
eslint.config.mjs
vite.config.ts
vitest.config.ts
.cursor/

